{% extends "global/base.html" %}
{% block content %}
    <h1 class="text-center">Book</h1>
    <hr>
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ book.picture.url }}" class="img-fluid rounded-start" alt="{{ book.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text"><small class="text-muted">{{book.author}}, {{book.genre}}, {{book.year}}</small></p>
                        <p class="card-text">{{book.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if not book.comments.all %}
            <p class="text-center">No Comments Yet...</p>
            {% else %}
            <p class="text-center">Comments</p>
                {% for comment in book.comments.all %}
                    <div class="card mb-4" style="max-width: 600px;">
                        <div class="card-body">
                            <div class="text-end">
                                <form action="{% url "booklist:comment" comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-link btn-danger" type="submit"></button>
                                </form>
                            </div>
                        <p>{{comment.body}}</p>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="avatar" width="25"
                                height="25" />
                            <p class="small mb-0 ms-2">{{comment.name}}</p>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                            <p class="small text-muted mb-0">{{comment.data_added|date:"d/m/Y"}}</p>
                            <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if user.is_authenticated %}
                <form action="{% url "booklist:book" book.id %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="card mb-4" style="max-width: 600px;">
                            <div class="card-body">
                                <p>{{ field }}</p>
                            </div>
                            </div>
                    {% endfor %}
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center"></div>
                            <div class="d-flex flex-row align-items-center">
                                <button class="btn btn-primary btn-sm" type="submit">Comment</button>
                            </div>
                        </div>
                </form>
            {% endif %}
            {% if user == book.owner %}
                <form action="{% url "booklist:delete" book.id %}" method="POST">
                    <a href="{% url "booklist:index" %}" class="btn btn-secondary">Back</a>
                    <a href="{% url "booklist:update" book.id %}" class="btn btn-primary">Edit</a>
                    {% csrf_token %}
                    {% if confirmation == 'no' %}
                        <input type="hidden" name="confirmation" value="yes">
                        <button class="btn btn-danger" type="submit">Confirm?</button>
                    {% else %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    {% endif %}
                </form>
            {% else %}
                <a href="{% url "booklist:index" %}" class="btn btn-secondary">Back</a>
            {% endif %}
        </div>
{% endblock content %}
    
