{% extends "global/base.html" %}
{% block content %}
    <h1 class="text-center">Books</h1>
    <hr>
    <table class="table table-striped table-bordered border-dark table-hover">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
                {% for book in page_obj %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.genre }}</td>
                        <td>{{ book.year }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock content %}