{% extends "global/base.html" %}
{% block content %}
    <h2 class="text-center">Profile</h2>
    <hr>
    <form action="{% url "booklist:profile" %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label}}">{{ field.label }}:</label>
                {{ field }}
                <span style="color: #cc0000;">
                    {{ field.errors }}
                </span>

            </div>

            {% if field.help_text %}
                <label class="form-text text-muted">{{ field.help_text }}</label>
            {% endif %}
        {% endfor %}
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <form action="{% url "booklist:user_delete" user.pk %}" method="POST">
        {% csrf_token %}
        {% if confirmation == 'no' %}
            <input type="hidden" name="confirmation" value="yes">
            <button type="submit" class="btn btn-danger">Confirm?</button>
        {% else %}
            <button type="submit" class="btn btn-danger">Delete</button>
        {% endif %}
    </form>
{% endblock content %}