<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if page_obj %}
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1&q={{ search_value }}">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ search_value }}">Previous</a></li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ search_value }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{ search_value }}">Last &raquo;</a></li>
        {% endif %}
    {% endif %}
    </ul>
</nav>